 
        	<div id="logoMenu">
        	<div>MENÚ</div>
        	</div>
        <ul>  
            <li class="itemLi">
                  <a class="menuSecc" href="#info" title="Home" data-transition="slide">
                  <img src="img/1.png" class="icoMenu">
                  <div class="textMenu">Información general</div>
                  </a>
                  </li> 
            <li class="itemLi">
                  <a class="menuSecc"  href="#menuVisitante" title="Profile" data-transition="slide">
                  <img src="img/2.png" class="icoMenu">
                  <div class="textMenu">Visitante</div>
                  </a>
                  </li>  
            	
            <li class="itemLi">
                  <a class="menuSecc" href="#menuExpositor" title="Setting" data-transition="slide">
                  <img src="img/3.png" class="icoMenu">
                  <div class="textMenu">Expositor</div>
                  </a>
                  </li>  
            	
            <li class="itemLi">
                  <a class="menuSecc"  href="#menuPrensa" title="Logout" data-transition="slide">
                  <img src="img/4.png" class="icoMenu">
                  <div class="textMenu">Prensa</div>
                  </a>
                  </li> 
            	

            <li class="itemLi">
                  <a class="menuSecc" href="#menuMedia" title="Report" data-transition="slide">
                  <img src="img/5.png" class="icoMenu">
                  <div class="textMenu">Media</div>
                  </a>
                  </li>
          
              <li class="itemLi">
                  <a class="menuSecc" href="#redes" title="Report" data-transition="slide">
                  <img src="img/7.png" class="icoMenu">
                  <div class="textMenu">Redes Sociales</div>
                  </a>
                  </li>     

            <li class="itemLi">
                  <a class="menuSecc" href="#contacto" title="Report" data-transition="slide">
                  <img src="img/6.png" class="icoMenu">
                  <div class="textMenu">Contacto</div>
                  </a>
                  </li>   	
        </ul>  
  